html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    height:100%;
}
.header{
    width:100%;
    height:120px;
    background-image: linear-gradient(pink,white);
}
.in{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.unisoko{
    font-family:"poppins";
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 40px;
    color: rgba(74, 153, 211, 1);
    margin-left:15%
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.user{
    margin-bottom:10px;
}
.plus{
    margin-bottom:5px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.go{
    display: flex;
    gap: 120px;
    margin-right: 10%;
}
@media (max-width: 950px) {
    .unisoko {
      font-size:20px;
    }
    .go{margin-right: 0;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin-right:5%;
    }
        .add{
            margin-right:75px;
        }
  }
  .blue_back{
    width: 1600px;
    height: 440px;
    background-color: #EAF6FF;
    display: flex;
    justify-content: space-between;
  }
  .blue{
    display:flex;
    justify-content:center;
    margin-top:40px;
  }
  .text{
    width: 505px;
    height: 85px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
    font-family:"Montserrat";
}
.find{
    height: 70px;
    width: 585px;
    border-style: solid;
    border-radius: 30px;
    border-color: red;
    display:flex;
    background-color:white;
    align-items:center;
}
.glass{
    width:30px;
    margin-left:7%;

}
#enter{
    border-style: solid;
    width: 215px,auto;
    margin-left: 20px;
    height: 25px;
    border: none;
    border-color: white;
    border-width: 0.1em;
}
textarea:focus, input:focus{
    outline: none;
}
.first_box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    position: relative;
    top: -5px;
}
.second_box{
    position: relative;
    top: 142px;
}
@media (max-width: 950px) {
    .blue_back{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .text{font-size: 25px;
        position: relative;
        top: 35px;}
        .find{width:180%;}
        .second_box{position: relative;
            top: 20px;}
            .person{width:320px;}
}