html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    height:100%;
}
.header{
    width:100%;
    height:120px;
    background-image: linear-gradient(pink,white);
}
.in{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.unisoko{
    font-family:"poppins";
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 40px;
    color: rgba(74, 153, 211, 1);
    margin-left:15%
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.user{
    margin-bottom:10px;
}
.plus{
    margin-bottom:5px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.go{
    display: flex;
    gap: 120px;
    margin-right: 10%;
}
@media (max-width: 950px) {
    .unisoko {
      font-size:20px;
    }
    .go{margin-right: 0;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin-right:5%;
    }
        .add{
            margin-right:75px;
        }
  }
  .blue_back{
    width: 1600px;
    height: 440px;
    background-color: #EAF6FF;
    display: flex;
    justify-content:center;
  }
  .blue{
    display:flex;
    justify-content:center;
    margin-top:40px;
  }
  .text{
    width: 505px;
    height: 85px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
    font-family:"Montserrat";
}
.find{
    height: 70px;
    width: 585px;
    border-style: solid;
    border-radius: 30px;
    border-color: red;
    display:flex;
    background-color:white;
    align-items:center;
}
.glass{
    width:30px;
    margin-left:7%;

}
#enter{
    border-style: solid;
    width: 215px,auto;
    margin-left: 20px;
    height: 25px;
    border: none;
    border-color: white;
    border-width: 0.1em;
}
textarea:focus, input:focus{
    outline: none;
}
.first_box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    position: relative;
    top: -5px;
}
.second_box{
    position: relative;
    top: 142px;
}
@media (max-width: 950px) {
    .blue_back{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .text{font-size: 25px;
        position: relative;
        top: 35px;}
        .find{width:180%;}
        .second_box{position: relative;
            top: 20px;}
            .person{width:320px;}
}
.middle{
    height: 760px;
    width: 100%;
    margin-top:100px;
}
.pict{
    width: 600px;
    height: 600px;
}
.headphones{
    width: 600px;
    height: 600px;
}
.items{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.used{
    width: 45px;    
        height: 20px;
        border-style: solid;
        background-color: red;
        border-width: 0;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        cursor:pointer}
.charachter{
            height:100%;
            position: relative;
    top: 35px;
        }
.brand{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
    font-family:"Manrope";
        }
.tzs{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: red;
    font-family:"Manrope"
}
.university{margin-top: 15px;
    color: #50CC98;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family:"Manrope"
}
.docs{
    width: 506px;
    margin-top:17px;
    font-family:"Manrope";
    font-size:15px;
}
.description{
    margin-top:15px;
}
.order{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    background-color: #EAF6FF63;
}
.circle_user{
    width: 45px;
    height: 45px;
}
.user_second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    gap:12px;
}
.username{
    margin-top:15px;
    font-weight:bolder;
    font-size:20px
}
.malima{
    position :absolute;
    top:57%;
    left:127px;
}
.kkk{
    position: absolute;
    top: 62%;
    left: 200px;
    font-family:"Inter"
}
.ring{
    width:40px;
}
.call_div{
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #EB3223;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    position:relative;left:29%;
    cursor:pointer;
}
.call{
    font-size: 30px;
    color: white;
    font-weight: 900;
    font-family:"Inter"
}
.call_div:hover{opacity: 0.5;
background-color:orangered}
.footer{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.area{
    width: 1450px;
    height: 410px;
    background-color: #EAF6FF;
}
.small_text{
    color:#504A41
}
.shop{
    width: 610px;
    height: 190px;
    display: flex;
    flex-direction: column;top: 120px;
    POSITION: relative;
    left: 70px;
}
.online_shop{
    font-size:30px;
}
.phone,.post,.location_point{
    width: 20px;
    height: 20px;
}
.number,.mail,.location{
display:flex;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}
.parametres{
    display: flex;
    justify-content: end;
    gap: 40px;
    position: relative;
    bottom: 120px;
    right:120px;
}
.About_us{
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-size: 16px;
}
.us,.about{
    font-size: 25px;
    font-weight: 900;
}
@media (max-width: 950px) {
    .area{
        width:100%;
    }
    .parametres{
        display: flex;
    justify-content: center;
    bottom: 0;
    gap: 25px;
    right: 15px;
    }
    .shop{
        left:0;
        width:98%;
        top:40px;
    }
    .online_shop{
        font-size:18px;
    }
    .headphones{width: 100%;
        height: 33%;
        position: absolute;}
        .items{flex-direction: column;}
        .charachter{
            display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
        }
        .docs{
            width:100%;
        }
        .used{position: absolute;
            top: 25px;}
            .brand{position: relative;
                top: 20px;}
                .malima{top:85%;}
                .kkk{top:85%;}
}